<%include header %>
    <h1><%= title %></h1>
    <table class="table-hovered" width="100%">
        <thead>
        <tr>
            <th>标题</th>
            <th>作者</th>
            <th>内容</th>
            <th>发布时间</th>
            <th>操作</th>
        </tr>
        </thead>
    <tbody>

    <% posts.forEach(function (post,index){%>
        <tr>
            <td><a href="/u/<%= post.name%>/<%= post.title%>"><%= post.title%></a></td>
            <td><a href="/u/<%= post.name%>"><%= post.name%></a></td>
            <td><%= post.content%></td>
            <td><%= post.time%></td>
            <td>
                <a href="/edit/<%= post.name%>/<%= post.title%>" class="btn btn-primary" target="_blank" > 修改</a>
                <a href="/delete/<%=post.name%>/<%= post.title%>" class="btn btn-primary">删除</a>
                <% var flag=1 %>
                <% if(user && (user.name!=post.name) && (post.reprint_info!=undefined)) {%>
                <%if ((post.reprint_info.reprint_from!=undefined) && (user.name !=post.reprint_info.reprint_from.name)  ){%>
                    <% flag = 0 %>
                <%}%>

                <% if(post.reprint_info.reprint_to!=undefined){%>
                        <% post.reprint_info.reprint_to.forEach(function (reprint_t , index){%>
                            <% if(reprint_t.name ==user.name){%>
                                    <% flag =0 %>
                            <%}%>
                        <%})%>
                <%}%>
               <%}else {%>
               <% flag =0 %>
               <%}%>
               <% if (flag) { %>
                <span>
                    <a class="btn btn-primary" href="/reprint/<%= post.name%>/<%= post.title%>">转载</a>
                </span>
               <%}%>
            </td>
        </tr>
    <% })%>
    </tbody>

    </table>
<%include footer%>